// Fonts
$primaryFont: "Open Sans";

/* Colors */
$primaryDarkColor: #2b2f3e;
$primaryLightColor: #ffffff;

$primaryDangerColor: #ff2f5a;
$secondaryDangerColor: #ff305a;

$primaryGreyColor: #f9f9f9;

$primaryTextColor: #666666;
$secondaryTextColor: #808080;
$thirdlyTextColor: #b3b3b3;

$primaryTitleColor: #565a69;

$primaryBorderColor: #f2f2f2;
$secondaryBorderColor: #cccccc;

$primaryBtnColor: #27ccc0;
$dangerBtnColor: #ff3159;

$primarySquareColor: #ff8a00;
$secondarySquareColor: #47568c;
$thirdlySquareColor: #e6e6e6;



