.btn-ordinary {
  width: 100%;
  max-height: 37px;
  background-color: $primaryBtnColor;
  outline: none;
  border: none;
  border-radius: 3px;
  color: $primaryLightColor;
  box-sizing: border-box;

  &:hover {
    cursor: pointer;
    background-color: darken($primaryBtnColor, 10%);
  }

  &__text {
    color: $primaryLightColor;
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
  }

  &_remove {
    background: transparent;
    color: $secondaryDangerColor;
    border: 1px solid $dangerBtnColor;

    &:hover {
      border: 1px solid darken($dangerBtnColor, 30%);
      color: darken($secondaryDangerColor, 30%);
      background: transparent;
    }
  }
}